/* .time_Container{
   display: inline-block;
   flex-wrap: wrap;
   justify-content: center;
 
}
.Container1{
    background-color: lightcoral;
    display: block;
}
.Container2{
    background-color: lightgreen;
}
.Container3{
    background-color: yellow;
} */
