*{
    text-decoration: none !important;
}
/* NavBar */
 /* #NavBar_text:hover{
    background-color: white;
    color: rgb(139 92 246);  
}
#NavBar_text::-moz-selection{
    color: rgb(139 92 246);
}
.NavBar_folded_text{
   background-color: white !important;
}  */

/* Collapsed Navbar */
/* #NavBar_folded_text:hover{
    background-color: white !important;
    color: rgb(139 92 246);
}
#NavBar_folded_text::-moz-selection{
    color: rgb(139 92 246);
    color: white !important;
} */